<!DOCTYPE html>
<html>
<head>
    <title>Player Dashboard</title>
</head>
<body>
    <h2>Welcome, {{ session['username'] }}</h2>
    <a href="{{ url_for('logout') }}">Logout</a>
    <h3>Your Stats:</h3>
    <table border="1">
        <tr>
            <th>P_num</th>
            <th>Pitcher</th>
            <th>Inning</th>
	    <th>Outs</th>
	    <th>LR</th>
	    <th>Pitch</th>
	    <th>SB</th>
	    <th>Result</th>
	    <th>R</th>
	    <th>Balls</th>
	    <th>Strikes</th>
	    <th>Ball</th>
	    <th>Strike</th>
	    <th>One_PK</th>
	    <th>Outs_1</th>
	    <th>pitch_ab</th>
	    <th>pitch_IP</th>
	    <th>A3P</th>
	    <th>le15</th>
	    <th>Strikes_1</th>
	    <th>COUNT</th>
	    <th>Date</th>
        </tr>
        {% for pitch in pitches %}
        <tr>
            <td>{{ pitch['P_num'] }}</td>
            <td>{{ pitch['Pitcher'] }}</td>
            <td>{{ pitch['Inning'] }}</td>
            <td>{{ pitch['Outs'] }}</td>
            <td>{{ pitch['LR'] }}</td>
            <td>{{ pitch['Pitch'] }}</td>
	    <td>{{ pitch['SB'] }}</td>
	    <td>{{ pitch['Result'] }}</td>
	    <td>{{ pitch['R'] }}</td>
	    <td>{{ pitch['Balls'] }}</td>
	    <td>{{ pitch['Strikes'] }}</td>
	    <td>{{ pitch['Ball'] }}</td>
	    <td>{{ pitch['Strike'] }}</td>
	    <td>{{ pitch['One_PK'] }}</td>
	    <td>{{ pitch['Outs_1'] }}</td>
	    <td>{{ pitch['pitch_ab'] }}</td>
	    <td>{{ pitch['pitch_IP'] }}</td>
	    <td>{{ pitch['A3P'] }}</td>
	    <td>{{ pitch['le15'] }}</td>
	    <td>{{ pitch['Strikes_1'] }}</td>
	    <td>{{ pitch['COUNT'] }}</td>
	    <td>{{ pitch['Date'] }}</td> 
        </tr>
        {% endfor %}
    </table>
</body>
</html>

